<h1 align="center">LunchBreak Home</h1>


<style>
ul#menu {
	text-align: center;
    list-style-type: none;
    margin: 0px auto;
    padding: 0px;
}
ul#menu li {
    display:inline;
}
</style>

<ul id="menu" align="center">
	<li><%= link_to("Schedule", controller: "user", action: "index")%></li>
</ul>