<h1 align="center">Schedule</h1>	
<p>
	<% if logged_in? %>
		<!-- 
			Show Schedule Here.
		
		
		-->
	<% else %>
		<h4 align="center">
			Please <%= link_to("Sign up", controller: "user", action: "new") %> or <%= link_to("Login", controller: "sessions", action: "new") %> to see the schedule.
		</h4>
	<% end %>
</p>