<% if logged_in? == true %>
	<% if @user.id == current_user.id %>
		<h1 align="center" style="color:#202020;">Your Schedule</h1>
	<% else %>
		<h1 align="center" style="color:#202020;"><%= @user.username.capitalize %>'s Schedule</h1>
	<% end %>
<% else %>
	<h1 align="center" style="color:#202020;"><%= @user.username.capitalize %>'s Schedule</h1>
<% end %>

<%= render "layouts/schedule" %>