<h1 align="center"><%= @user.firstN.capitalize %>'s Profile</h1>
<ul id="menu">
	<li><%= link_to("Schedule", controller: "user", action:"index") %></li><li> -- </li>
	<li><%= link_to("Edit Profile", controller: "user", action:"edit") %></li>
</ul>