body{
	font-family: Optima, Veranda, sans-serif;
}
p.check{
	font-color:white;
}
a{
	text-decoration: none;
}
a:active{
	color:black;
}
a:hover{
	color:black;
}
a:link{
	color: black;
}
a:visited{
	color: black;
}